<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body">
  
  <div class="head">
<h1 class="title">Hookah Bar's</h1>
  </div>
  

  <div class="big-div">
    <div class="litto-div">1</div>
    <div class="litto-div">2</div>
    <div class="litto-div">3</div>
    <div class="litto-div">4</div>
    <div class="litto-div">5</div>
    <div class="litto-div">6</div>
    <div class="litto-div">7</div>
    <div class="litto-div">8</div>
  </div>



  <div class="head">
<h1 class="title">Clubs</h1>
  </div>
  

  <div class="big-div">
    <div class="litto-div">1</div>
    <div class="litto-div">2</div>
    <div class="litto-div">3</div>
    <div class="litto-div">4</div>
    <div class="litto-div">5</div>
    <div class="litto-div">6</div>
    <div class="litto-div">7</div>
    <div class="litto-div">8</div>
  </div>


  <div class="head">
<h1 class="title">Recreational Shop's</h1>
  </div>
  

  <div class="big-div">
    <div class="litto-div">1</div>
    <div class="litto-div">2</div>
    <div class="litto-div">3</div>
    <div class="litto-div">4</div>
    <div class="litto-div">5</div>
    <div class="litto-div">6</div>
    <div class="litto-div">7</div>
    <div class="litto-div">8</div>
  </div>
</body>
</html>