<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body class="body">
  
  <div class="head">
<h1 class="title">Hookah Lounge's</h1>
  </div>
  
    <div class="big-div">


        <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
          <div class="container">
                <img src="img/assats/Seattle.png" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">Seattle Hooka Lounge</div>
                </div>
              </div>
            </a>


            <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
              <div class="container">
                    <img src="img/assats/Ember.png" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">Ember Hooka Lounge</div>
                    </div>
                  </div>
                </a>



                <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                  <div class="container">
                        <img src="img/assats/kings.png" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">King's Hooka Lounge</div>
                        </div>
                      </div>
                    </a>
            
                <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                  <div class="container">
                        <img src="img/assats/aladdin.png" alt="Avatar" class="image">
                        <div class="overlay">
                          <div class="text">Aladdin Hooka Lounge</div>
                        </div>
                      </div>
                    </a>
                  </div>

                    <div class="head">
                        <h1 class="title">Club's</h1>
                          </div>
                          
                            <div class="big-div">
                        
                        
                                <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                                  <div class="container">
                                        <img src="img/clubs/balticroom.png" alt="Avatar" class="image">
                                        <div class="overlay">
                                          <div class="text">The Baltic Room</div>
                                        </div>
                                      </div>
                                    </a>
                        
                        
                                    <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                                      <div class="container">
                                            <img src="img/clubs/captiallunge.png" alt="Avatar" class="image">
                                            <div class="overlay">
                                              <div class="text">Capital Lounge</div>
                                            </div>
                                          </div>
                                        </a>
                        
                        
                        
                                        <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                                          <div class="container">
                                                <img src="img/clubs/havana.png" alt="Avatar" class="image">
                                                <div class="overlay">
                                                  <div class="text">Havana</div>
                                                </div>
                                              </div>
                                            </a>
                                    
                                        <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                                          <div class="container">
                                                <img src="img/clubs/nighboursn&l.png" alt="Avatar" class="image">
                                                <div class="overlay">
                                                  <div class="text">Nighbour's Night Club and Lounge</div>
                                                </div>
                                              </div>
                                            </a>
                                    
                        

                                            <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                                              <div class="container">
                                                    <img src="img/clubs/q.png" alt="Avatar" class="image">
                                                    <div class="overlay">
                                                      <div class="text">Q Night Club</div>
                                                    </div>
                                                  </div>
                                                </a>
                                    
                                    
                                                <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                                                  <div class="container">
                                                        <img src="img/clubs/rhinoroom.png" alt="Avatar" class="image">
                                                        <div class="overlay">
                                                          <div class="text">The Rhino Room</div>
                                                        </div>
                                                      </div>
                                                    </a>
                                    
                                    
                                    
                                                    <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                                                      <div class="container">
                                                            <img src="img/clubs/thecuffcomplex.png" alt="Avatar" class="image">
                                                            <div class="overlay">
                                                              <div class="text">The Cuff Complex</div>
                                                            </div>
                                                          </div>
                                                        </a>
                                                
                                                    <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                                                      <div class="container">
                                                            <img src="img/clubs/trinity.png" alt="Avatar" class="image">
                                                            <div class="overlay">
                                                              <div class="text">Trinity</div>
                                                            </div>
                                                          </div>
                                                        </a>
                                                      </div>

          <div class="head">
       <h1 class="title">Recreational Shop's</h1>
           </div>
           <div class="big-div">
                                                              
           <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
            <div class="container">
                  <img src="img/weed/haveaheart.png" alt="Avatar" class="image">
                  <div class="overlay">
                    <div class="text">Have a Heart</div>
                  </div>
                </div>
              </a>
  
  
              <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                <div class="container">
                      <img src="img/weed/herblegends.png" alt="Avatar" class="image">
                      <div class="overlay">
                        <div class="text">Herbal legend's</div>
                      </div>
                    </div>
                  </a>
  
  
  
                  <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                    <div class="container">
                          <img src="img/weed/ponders.png" alt="Avatar" class="image">
                          <div class="overlay">
                            <div class="text">Ponder's</div>
                          </div>
                        </div>
                      </a>



                      <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                        <div class="container">
                              <img src="img/weed/ruckusrecreational.png" alt="Avatar" class="image">
                              <div class="overlay">
                                <div class="text">Ruckus Recreational</div>
                              </div>
                            </div>
                          </a>
                  
                      <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                        <div class="container">
                              <img src="img/weed/thereef.png" alt="Avatar" class="image">
                              <div class="overlay">
                                <div class="text">The Reef</div>
                              </div>
                            </div>
                          </a>


                          <a class="little-div" href="https://www.yelp.com/biz/aladdin-hookah-lounge-seattle">
                            <div class="container">
                                  <img src="img/weed/uncleike's.png" alt="Avatar" class="image">
                                  <div class="overlay">
                                    <div class="text">Uncles Ike's</div>
                                  </div>
                                </div>
                              </a>
                      
                       
    


    </div>
</body>
</html>